.border-solid{
    border-style: solid;
}
.flex{
    display: flex;
}
.center{
    justify-content: center;
    text-align: center;
}
.align-center{
    align-items: center;
}
.bb{
    box-sizing: border-box;
}
.w-full{
    width: 100%;
}
.h-full{
    height: 100%;
}
.w-screen{
    width: 100vw;
}
.h-screen{
    height: 100vh;
}
.cursor{
    cursor: pointer;
}
.header-hover:hover{
    background: var(--top-header-hover-color);
}
.auto{
    overflow: auto;
}
.o-y{
    overflow-y: auto;
}
.o-x{
    overflow-x: auto;
}

.s-b-s-0::-webkit-scrollbar {
    width: 1px;
    height: 1px;
    background: #ffffff;
}
.s-b-s-0::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 10px;
}
.s-b-s::-webkit-scrollbar {
    width: 4px;
    height: 8px;
    background: #ffffff;
}
.s-b-s::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 100px;
}
.ant-menu-vertical{
    border: 0 !important;
}
