@font-face {
    font-family: "iconfont"; /* Project id 3257886 */
    src: url('//at.alicdn.com/t/font_3257886_fnfr8eocfcq.woff2?t=1647589215724') format('woff2'),
    url('//at.alicdn.com/t/font_3257886_fnfr8eocfcq.woff?t=1647589215724') format('woff'),
    url('//at.alicdn.com/t/font_3257886_fnfr8eocfcq.ttf?t=1647589215724') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
    content: "\e66a";
}
